<form [formGroup]="newCarForm">
    <div class="container">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <label for="carname"> Car brand name</label>
                    <input type="text" name="carname" class="form-control" formControlName="carName" [(ngModel)]="carName"> 
                </div>
                <div class="col-sm-6">
                    <p class="bold">Select engine:</p>
                    <div class="radio" *ngFor="let eng of engines">
                        <label>
                            <input 
                            type="radio"
                            formControlName="engine"
                            [value]="eng">{{eng}}
                        </label>
                </div>

            </div>
            <button type="button" [disabled]="carName.length===0" class="btn btn-success" (click)="onSubmit()">Add</button>

        </div>
        <div class="container">
            <div class="radios col-md-1">
                
                </div>
            </div> 
            <div class="col-md-1">
                

            </div>
        </div>
        
    </div>
</form>